
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}



.logo {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 40px;
  margin-top: 60px;
  
}

.logo-link {
  color: #000000;
  text-decoration: none;
}

.logo-link-accent {
color: #4BCAFF
}

.nav {
  margin-bottom: 49px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444F;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  
}

.menu_item {
  display: flex;
  align-items: center;
  list-style: none;
  border-right: 1px solid #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  height: 69px;
  transition: background-color 500ms linear;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu_item:first-child {
  border-left: 1px solid #ffffff;
}

.menu_item:hover {
  background-color: #222F3A;
}




.navig-menu {
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin: 0 auto;
}

.sitenav-list {
  width: 345px;
  height: 400px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}

.sitenav-item {
  padding-left: 44px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 0;
  transition: background-color 500ms;
}

.sitenav-link {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #485863;
  transition: color 500ms;
  cursor: pointer;
}

.sitenav-item:hover {
  background-color: #DBDBDB;
  text-align: center;
}

.sitenav-link:hover {
  color: #000000;
}

.sidebar {
  justify-content: center;
}

.image-warapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  height: 529px;
  width: 880px;
  margin-bottom: 35px;
padding: 75px 280px;
}

.ramda-img {
  overflow: hidden;
  transition: transform 500ms linear;
}

.ramda-img:hover {
  transform: scale(1.2);
}

.content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #2C2C2C;
}

.content-text:not(:last-child) {
  margin-bottom: 34px;
}




.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 30px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  
}

.footer-item {
padding-left: 40px;
align-items: center;
}

.footer-item:hover {
  text-decoration: underline;
  margin-top: 10px;
  color: #668eb9;
}

.footer-link:hover {
color: #668eb9;

}

.footer-link {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  text-decoration: none;
  transition: color 500ms linear;
}

.copy-right{
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 190px;
}


.copy-right {
  margin-right: 40px;
}
